<?php

const CLIENT_ID = "";
const CLIENT_FBID = "";
const CLIENT_SECRET = "";
const CLIENT_FBSECRET = "";
const CLIENT_GITHUBID = "";
const CLIENT_GITHUBSECRET = "";
const CLIENT_GOOGLEID = "";
const CLIENT_GOOGLESECRET = "";
